@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-display: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
* {
  box-sizing: border-box;
}
.dropdown:hover .dropdown-menu {
  display: block;
  border-radius: 3px;
}
.dropdown-menuc > li:hover {
  color: #f8f886;
}
textarea {
  background: #000;
  border-bottom: 2px solid #fff;
  resize: none;
  height: 72px;
  border-radius: 0;
  margin-bottom: 2px;
  font-size: 16px;
  transition: border-color 150ms ease;
}

textarea:focus,
textarea:hover {
  box-shadow: none !important;
  border-bottom: 2px solid #fff;
}

textarea::placeholder {
  color: #c6c6c6;
  font-size: 14px;
}

.tab {
  @apply text-[#F8F886] font-normal justify-center text-xs py-4 px-4 w-[50%];
}

.selected_tab {
  @apply border-b-2 border-[#F8F886];
}
.btn {
  @apply p-4 w-full rounded-lg flex justify-center items-center border-2 border-[#F8F886] text-white bg-[#000];
}
.btn2 {
  @apply flex justify-center items-center bg-[#F8F886] text-black p-4 w-full rounded-lg;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #16160e;
  }
}

.circle {
  animation: 8s loader ease infinite alternate, 2s loader2 linear infinite;
  stroke: url(#Gradient);
  stroke-linecap: round;
  strokewidth: 5;
  stroke-dasharray: 94.0955352783 94.0955352783;
  stroke-dashoffset: 0;
}

@keyframes loader {
  0% {
    stroke-dasharray: 84.0955352783 104.0955352783;
  }
  100% {
    stroke-dasharray: 178.19107055664062 10;
  }
}
@keyframes loader2 {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -188.19107055664062;
  }
}
