@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

* {
  box-sizing: border-box;
}
textarea {
  background: #000;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 12px;
  resize: none;
  font-size: 11px;
  transition: border-color 150ms ease;
  width: 100%;
}

textarea:hover {
  /* border-color: #c6c6c6; */
  border: none;
  outline: none;
}

textarea:focus {
  outline: none;
  /* border-color: #c6c6c6; */
  border: none;
}

textarea::placeholder {
  color: #c6c6c6;
  font-size: 11px;
}

.tab {
  @apply text-[#F8F886] font-normal text-xs py-1 px-4 w-20;
}
.selected_tab {
  @apply border-b-2 border-[#F8F886];
}
.btn {
  @apply p-4 w-full rounded-lg flex justify-center items-center border-2 border-[#F8F886] text-white bg-[#000];
}
.btn2 {
  @apply flex justify-center items-center bg-[#F8F886] text-black p-4 w-full rounded-lg;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #16160e;
  }
}
