@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

* {
  box-sizing: border-box;
}
.dropdown:hover .dropdown-menu {
  display: block;
  border-radius: 3px;
}
.dropdown-menuc > li:hover {
  color: #f8f886;
}
textarea {
  background: #000;
  border-bottom: 1px solid #fff;
  resize: none;
  height: 72px;
  border-radius: 0;
  margin-bottom: 2px;
  font-size: 16px;
  transition: border-color 150ms ease;
}

textarea:focus {
  box-shadow: none !important;
  border-bottom: 2px solid #fff;
}

textarea::placeholder {
  color: #c6c6c6;
  font-size: 14px;
}

.tab {
  @apply text-[#F8F886] font-normal justify-center text-xs py-4 px-4 w-[50%];
}

/* .tab.has-new-message {
  @apply text-[#F8F886] font-normal text-xs py-1 px-2;
} */

.selected_tab {
  @apply border-b-2 border-[#F8F886];
}
.btn {
  @apply p-4 w-full rounded-lg flex justify-center items-center border-2 border-[#F8F886] text-white bg-[#000];
}
.btn2 {
  @apply flex justify-center items-center bg-[#F8F886] text-black p-4 w-full rounded-lg;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #16160e;
  }
}

/* body {
  background-color: #1c2147;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.circle {
  animation: 8s loader ease infinite alternate, 2s loader2 linear infinite;
  stroke: url(#Gradient);
  stroke-linecap: round;
  stroke-width: 5;
  stroke-dasharray: 94.0955352783 94.0955352783;
  stroke-dashoffset: 0;
}

@keyframes loader {
  0% {
    stroke-dasharray: 84.0955352783 104.0955352783;
  }
  100% {
    stroke-dasharray: 178.19107055664062 10;
  }
}
@keyframes loader2 {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -188.19107055664062;
  }
}
